# Ignore node_modules directory
node_modules

# Ignore logs and other runtime data
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment-specific files
.env

# Ignore dependency directories
.pnp
.pnp.js

# Ignore macOS system files
.DS_Store

# Ignore IDE and editor specific files
.vscode/
.idea/
*.suo
*.ntvs*

# Ignore compiled output
/dist
/out
/build

# Ignore any local development configuration files
*.local

# Ignore npm package-lock files
package-lock.json
