<div class="about-team-container">
  <button class="team-button" (click)="toggleTeamData()" [class.clicked]="showTeamData">About Our Team</button>
  <h1 class="project-title">Team One Fidzulu Shop Front</h1>
  <h2 class="project-sub-title">Click below to shop!</h2>
  <div class="team-data-container" *ngIf="showTeamData">
    <p><strong>Team Name:</strong> {{ teamData?.team }}</p>
    <p><strong>Team Members:</strong></p>
    <div class="team-members">
        <div class="team-member" *ngFor="let member of teamData?.membersNames">{{ member }}</div>
    </div>
</div>
</div>




