.about-team-container {
    position: relative;
    margin-top: 20px;
  }
  
  .project-title {
    font-size: 40px;
    font-weight: bold;
    color: #4CAF50;
    margin-right: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .project-sub-title {
    font-size: 25px;
    color: black;
    margin-top: 5px;
    text-align: center;
  }
  
  
  .team-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 8px;
    transition: background-color 0.3s;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .team-button:hover {
    background-color: #45a049;
  }

  .team-button.clicked {
    background-color: black;
  }
  
  .team-data-container {
    width: 100%;
    max-width: 800px; 
    margin: 0 auto;
    padding: 10px;
    border: px solid #ccc;
}

.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team-member {
    width: calc(50% - 10px);
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center; 
}

p {
    text-align: center; 
}

strong {
    font-weight: bold; 
}


  
  
  
  
  